IO_LOC  "codigo_bin_pi[0]" 30;
IO_PORT "codigo_bin_pi[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "codigo_bin_pi[1]" 29;
IO_PORT "codigo_bin_pi[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "codigo_bin_pi[2]" 28;
IO_PORT "codigo_bin_pi[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "codigo_bin_pi[3]" 27;
IO_PORT "codigo_bin_pi[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos1_pi[0]" 36;
IO_PORT "error_pos1_pi[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos1_pi[1]" 37;
IO_PORT "error_pos1_pi[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos1_pi[2]" 38;
IO_PORT "error_pos1_pi[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos2_pi[0]" 26;
IO_PORT "error_pos2_pi[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos2_pi[1]" 25;
IO_PORT "error_pos2_pi[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "error_pos2_pi[2]" 39;
IO_PORT "error_pos2_pi[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c0_pi" 40;
IO_PORT "c0_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c1_pi" 33;
IO_PORT "c1_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "c2_pi" 34;
IO_PORT "c2_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "p_pi" 41;
IO_PORT "p_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "modo_pi" 69;
IO_PORT "modo_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "display_pi" 48;
IO_PORT "display_pi" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "dot_po" 31;
IO_PORT "dot_po" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[0]" 76;
IO_PORT "catodo_po[0]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[1]" 75;
IO_PORT "catodo_po[1]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[2]" 72;
IO_PORT "catodo_po[2]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[3]" 71;
IO_PORT "catodo_po[3]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[4]" 70;
IO_PORT "catodo_po[4]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[5]" 74;
IO_PORT "catodo_po[5]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "catodo_po[6]" 73;
IO_PORT "catodo_po[6]" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "dig1_po" 63;
IO_PORT "dig1_po" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "dig2_po" 77;
IO_PORT "dig2_po" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "datos_io[7]" 42;
IO_PORT "datos_io[7]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[6]" 51;
IO_PORT "datos_io[6]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[5]" 53;
IO_PORT "datos_io[5]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[4]" 54;
IO_PORT "datos_io[4]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[3]" 55;
IO_PORT "datos_io[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[2]" 56;
IO_PORT "datos_io[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[1]" 57;
IO_PORT "datos_io[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "datos_io[0]" 68;
IO_PORT "datos_io[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;
